@font-face {
    src: url("SF-UI-Display-Regular.otf");
}

* {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: 'SF UI Display';
    -fx-font-smoothing-type: lcd;
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #e3e3e3;
    -fx-background-color: WHITE;
    -fx-cursor: HAND;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #e3e3e3;
    -fx-background-color: WHITE;
    /*-fx-text-origin: baseline;*/
}

.text-field > .scroll-pane > .corner {
    -fx-background-radius: 0 0 0 0;
}

.text-field .content {
    -fx-background-color: WHITE;
}

.scroll-pane > .viewport {
    -fx-background-image: url("Background.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#message {
    -fx-border-color: #2e80cb;
    -fx-background-color: #3494e7;
    -fx-text-fill: white;
}

#textArea {
    /*-fx-background-color: WHITE;*/
    -fx-border-color: #e3e3e3;
    -fx-border-width: 1 0 0 0;
}